/* h1, */
#counter {
  /* margin-top: 50px; */
  text-align: center;
  margin-top:50px;
  border: 2px solid black;
  width: 12%;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1 {
  text-align: center;
  margin-top:70px;
}
.btn {
  margin-left: 43%;
  margin-top: 20px;
}
#counter {
  font-size: 100px;
}
/* .container {
} */
